<h1 class="text-2xl">Create client</h1>
<div class="flex gap-6 mb-4">
  <mat-card class="flex-1 p-4">
    <div>Client details</div>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Client ID</mat-label>
        <input formControlName="clientId" matInput placeholder="Enter client ID" />
        @if (form.get('clientId')?.errors?.['required'] && form.get('clientId')?.touched) {
          <mat-error>Please set client id</mat-error>
        } @else if (form.get('clientId')?.errors?.['maxlength'] && form.get('clientId')?.touched) {
          <mat-error>ClientID must not exceed 32 characters</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Flow type</mat-label>
        <mat-select formControlName="flowType">
          <mat-option [value]="FlowType.ImplicitFlow">Implicit flow</mat-option>
          <mat-option [value]="FlowType.AuthorizationCode">Authorization code</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card>
  <mat-card class="flex-1 p-4">
    <div>Flow options</div>
  </mat-card>
</div>
@if (this.error()) {
  <mat-error>{{ this.error() }} </mat-error>
}
<button (click)="onSubmit()" matButton>Submit</button>
<button matButton class="text-gray-500!">Cancel</button>
